<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Net_Zero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Net_Zero.Properties.Settings.Net_ZeroConnectionString"
      connectionString="Data Source=SAGER10;Initial Catalog=Net-Zero;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Net_Zero.Properties.Settings>
      <setting name="nLastProjectID" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="nCurrentProjectID" serializeAs="String">
        <value>0</value>
      </setting>
    </Net_Zero.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>