<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Net_Zero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Net_Zero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Net_Zero.Properties.Settings.Net_ZeroConnectionStringWinhost"
      connectionString="Data Source=tcp:s14.winhost.com;Initial Catalog=DB_80510_netzero;User ID=DB_80510_netzero_user;Password=NZ8965!!;Integrated Security=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Net_Zero.Properties.Settings>
      <setting name="nLastProjectID" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="nCurrentProjectID" serializeAs="String">
        <value>0</value>
      </setting>
    </Net_Zero.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <applicationSettings>
    <Net_Zero.Properties.Settings>
      <setting name="Net_ZeroConnectionStringLocal" serializeAs="String">
        <value>Data Source=SAGER10;Initial Catalog=Net-Zero;Integrated Security=True</value>
      </setting>
    </Net_Zero.Properties.Settings>
  </applicationSettings>
</configuration>